<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hesolutions.horizon">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        <activity
            android:name=".BarcodeScanner"
            android:label="@string/title_activity_barcode_scanner"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminPage"
            android:label="@string/title_activity_admin_page"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomePage"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
         </activity>
        <activity
            android:name=".UnlockLogin"
            android:label="@string/title_activity_unlock_login"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".AccessPermission"
            android:label="@string/title_activity_access_permission"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TotalDevice"
            android:label="@string/title_activity_total_device"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserPage"
            android:label="@string/title_activity_user_page"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GlobalCalendar"
            android:label="@string/title_activity_global_calendar"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".CalendarTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>
